body {
    background-image: url(./images/wallpaperflare.com_wallpaper.jpg);
    background-attachment: fixed;
    font-family: 'Poppins', serif !important;
}

/*spacer divs?-------------------------------*/
.spacer{
    width: 100%;
    height: 175px;
}

/*animation thingy?*/
.animation {
    color: yellow;
    text-shadow: 0 0 15px yellow, 0 0 25px yellow;
    animation: glow 5s linear infinite;
}
@keyframes glow {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

/* name & title ------------------------------------*/
.intro{
    width: 100%;
    height: 100%;
    margin: 30px;
    color: rgba(45, 44, 44, 0.3);
}

.name{
    display:flex;
    justify-content: center;
}
.my-name{
    margin: 3px;
}
.title{
    display:flex;
    justify-content: center;
}

/*about me text-------------------------------------------*/
.about{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.about-content{
    color: white;
    width: 60%;
}

/*projects cards------------------------------------------*/
.projects-heading{
    color:white;
    margin-left: 40px;
}

.card-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.card{
    filter:blur(6px);
    background-color:rgba(40, 183, 114, 0.6) !important;
    padding: 5px;
    margin: 10px;
    opacity: 20%;
}
.card:hover{
    filter: blur(0);
    background-color:rgba(40, 183, 114, 0.6) !important;
    color: white;
    opacity: 100%;
}

.card1-btn{
    width:100%;
    color: white !important;
}

.card2-btn{
    width:100%;
    color: white !important;
}

.card3-btn{
    width:100%;
    color: white !important;
}

/*skills---------------------------------------*/
.stuff-container{
    display: flex;
}

.skills-container{
    width: 30%;
    background: none;
    border-radius: 10px;
    margin: 10px;
    color: white;
}

.skills{
    margin-right: 5px;
    padding-left: 10px;
}
.skills-heading{
    font-weight: bolder;
}

.learning-container{
    width: 30%;
    background: none;
    border-radius: 10px;
    margin: 10px;
    color: white;
}
.learning{
    margin-left: 10px;
}
.learning-heading{
    font-weight: bolder;
}

/*contact---------------------------------------*/

.contact-container{
    margin-top: 20px;
    padding-bottom: 10px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
}
    .fa-linkedin {
    background: #007bb5;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 3px;
        margin: 5px;
    }
    .fa-linkedin:hover {
        background: white;
        color:#007bb5;
    }

    .fa-github{
        color: white;
        border-radius: 5px;
        padding: 3px;
        text-decoration: none;
        margin: 5px;
    }
    .fa-github:hover {
        background: white;
        color: black;
    }

    .fa-envelope{
        color: white;
        border-radius: 5px;
        padding: 3px;
        text-decoration: none;
        margin: 5px;
    }
    .fa-envelope-open:hover {
        color: white;
        margin: 5px;
    }